<!DOCTYPE html>
<html>
<head>
  <style>
  body{
    text-align: center;
    background-color: #EEEEEE;
  }

  #t{
    background-color: black;
    color: white;
    width:200px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 50%;
    margin-left: 550px;

  }
  </style>
</head>

  <body>

    <p>
      <h2> This JavaScript program will take input from the user and display it HERE</h2>
      <br>
      On clicking the button It will ask for input.<br>

    <h1>  <b>Please Click the button!</b></h1>
    </p>
      <button onclick="myFunction()"> Click Me </button>
    <p id="t"></p>

    <script>
      function myFunction(){
        let data = prompt("Please Enter your full name");
        if (data != null){
        document.getElementById("t").innerHTML = "<h2>HELLOW!</h2>" + data + "<br> <br><br>Hope you are doing fine.<br> Have a great day! ^^";
        }
      }

    </script>
  </body>
</html>
